.atom-build.json
*/enabled/*
.DS_Store
custom/*
!custom/example.bash
# I have a carveout on custom bash scripts and my sudoers file
!custom/*jake*
custom/charter*
.rvmrc
aliases/custom.aliases.bash
completion/custom.completion.bash
lib/custom.bash
plugins/custom.plugins.bash
*.swp
.*.un~
bats
.idea
*.sublime-workspace
*.sublime-project
enabled/*
/enabled
tmp/

# Do not save profiles
profiles/*
# apart from the default one
!profiles/default.bash_it
# and mine:
!profiles/jake*.bash_it
